<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>hungnm.filter.FilterAuth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DispathController</servlet-name>
        <servlet-class>hungnm.servlet.DispathController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitAppServlet</servlet-name>
        <servlet-class>hungnm.servlet.InitAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>hungnm.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>hungnm.servlet.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hungnm.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendActiveCodeServlet</servlet-name>
        <servlet-class>hungnm.servlet.ResendActiveCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>hungnm.servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleServlet</servlet-name>
        <servlet-class>hungnm.servlet.PostArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>hungnm.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>hungnm.servlet.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailServlet</servlet-name>
        <servlet-class>hungnm.servlet.ViewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmotionServlet</servlet-name>
        <servlet-class>hungnm.servlet.EmotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentServlet</servlet-name>
        <servlet-class>hungnm.servlet.PostCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>hungnm.servlet.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>hungnm.servlet.NotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispathController</servlet-name>
        <url-pattern>/DispathController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitAppServlet</servlet-name>
        <url-pattern>/InitAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendActiveCodeServlet</servlet-name>
        <url-pattern>/ResendActiveCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleServlet</servlet-name>
        <url-pattern>/PostArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/DeleteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailServlet</servlet-name>
        <url-pattern>/ViewDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmotionServlet</servlet-name>
        <url-pattern>/EmotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentServlet</servlet-name>
        <url-pattern>/PostCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/NotificationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispathController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>LAB01</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
